<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Excel Reply</title>
    <link rel="stylesheet" href="/_assets/css/reply.css" />
    <!-- metadata -->

    <!-- our general utils -->
    <script src="/_assets/js/utils.js"></script>
    <script src="/_assets/js/reply.js"></script>
    <!-- our general utils -->

    <!-- dependencies -->
    <script src="/_assets/js/zip.min.js"></script>
    <script src="/_assets/js/htmx.min.js.js"></script>
    <script src="/_assets/js/_hyperscript.min.js.js"></script>
    <script src="/_assets/js/xlsx.js"></script>
    <!-- dependencies -->
  </head>

  <style>
    .loader {
      border: 7px solid white;
      border-top: 7px solid black;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>
  <body>
    <form>
      <h1 id="loading" style="display: none">Loading...</h1>

      <!-- Excel files -->
      <label for="excel-file"></label>
      <input
        type="file"
        id="excel-file"
        name="excel-file"
        accept=".xlsx, .xls"
        multiple
      />

      <button
        type="button"
        id="add-excel"
        _="on click call #excel-file.click()"
      >
        Add Excel
      </button>
      <!-- Excel files -->

      <!-- Zip input -->
      <label for="zip-input"></label>
      <input type="file" id="zip-input" name="zip-input" accept=".zip" />
      <button type="button" id="add-zip" _="on click call #zip-input.click()">
        Add Zip
      </button>
      <!-- Zip input -->

      <!-- Template download button -->
      <button type="button" id="download-template">Download template</button>

      <!-- Upload template button-->
      <label for="template-input"></label>
      <input
        type="file"
        id="template-input"
        name="template-input"
        accept=".xlsx, .xls"
      />
      <button
        type="button"
        id="add-template"
        _="on click call #template-input.click()"
      >
        Add template
      </button>

      <!-- Add Folder button-->
      <label for="folder-input"></label>
      <input
        type="file"
        id="folder-input"
        name="folder-input"
        webkitdirectory
        directory
        multiple
      />
      <button
        type="button"
        id="add-folder"
        _="on click call #folder-input.click()"
      >
        Add folder
      </button>
      <!-- UL for the excel files -->
      <ul id="excel-list"></ul>
      <label id="total-count" style="font-weight: bold"></label>
      <!-- UL for the excel files -->


      <!-- Submit button -->
      <button type="submit" id="submit-excel">Process</button>
      <!-- Submit button -->
    </form>

    <div
      id="mark"
      style="display: none; justify-content: center; align-items: center"
    >
      <label style="margin-right: 2px">Processing</label>
      <div class="loader"></div>
    </div>
  </body>
</html>

