<!doctype html>
<html lang="en">
  <head>
    <!-- metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Excel Search</title>
    <link rel="stylesheet" href="/_assets/css/search.css" />
    <!-- metadata -->

    <!-- our general utils -->
    <script src="/_assets/js/utils.js"></script>
    <!-- our general utils -->

    <!-- dependencies -->
    <script src="/_assets/js/zip.min.js"></script>
    <script src="/_assets/js/htmx.min.js.js"></script>
    <script src="/_assets/js/_hyperscript.min.js.js"></script>
    <script defer src="/_assets/js/alpine.min.js.js"></script>
    <script src="/_assets/js/xlsx.js"></script>
    <!-- dependencies -->
  </head>

  <style>
    .loader {
      border: 7px solid white;
      border-top: 7px solid black;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>
  <body>
    <form
      id="main-form"
      enctype="multipart/form-data"
      hx-post="/search"
      x-data="{ files: { data: [] }, config: { search: { conditions: [{data: '', title: '', intersections: []}] } } }"
    >
      <!-- Excel files -->
      <label for="excel-file"></label>
      <input
        type="file"
        id="excel-file"
        accept=".xlsx, .xls"
        multiple
        _="on click set my value to null"
        @change.prevent="
          let _files = [...$event.target.files];
          let newFiles = _files.map(file => {
            let date = getDate(file.lastModified, false);
            return {
              data: file, 
              lastModified: date,
            };
          });
          files.data = [...files.data, ...newFiles];
        "
      />

      <button
        type="button"
        id="add-excel"
        _="on click call #excel-file.click()"
      >
        Add Excel
      </button>
      <!-- Excel files -->

      <!-- Zip input -->
      <label for="zip-input"></label>
      <input
        type="file"
        id="zip-input"
        name="zip-input"
        accept=".zip"
        @change.prevent="
         await withZipFiles($event, function (results) {
          files.data = [...files.data, ...results];
         });
      "
      />
      <button type="button" id="add-zip" _="on click call #zip-input.click()">
        Add Zip
      </button>
      <!-- Zip input -->

      <!-- Template download button -->
      <button type="button" id="download-template">Download template</button>

      <!-- Upload template button-->
      <label for="template-input"></label>
      <input
        type="file"
        id="template-input"
        accept=".xlsx, .xls"
        _="on click set my value to null"
        @change.prevent='
          let file = $event.target.files[0];
          let reader = new FileReader();
          config.search.conditions = [];

          reader.onload = function(e) {
            let file = e.target.result; 
            let workbook = XLSX.read(file, {type: "binary"});
            let sheet = workbook.Sheets[workbook.SheetNames[0]]; 
            const data = XLSX.utils.sheet_to_json(sheet, {header: 1});
            console.log(data);

             // validate the file format
            const expectedHeaders = ["DATA", "TITLE"]
            const actualHeaders = data[0].map((header) => header.trim())

            if (
              data.length < 2 ||
              !expectedHeaders.every((header) => actualHeaders.includes(header))
            ) {
              alert(
                "Invalid file format. The template should have at least one row with Title and Data columns.",
              )
              throw new Error("Invalid file format")
            }

            // skip the header
            for (let i = 1; i < data.length; i++) {
              let _data = data[i][0];
              let title = data[i][1];
              let intersections = [];

              for (let j = 2; j < data[i].length; j += 2) {
                let intersectionData = data[i][j];
                let intersectionTitle = data[i][j + 1];

                intersections.push({
                  data: intersectionData,
                  title: intersectionTitle,
                  intersections: [],
                });
              }

              config.search.conditions.push({
                title: title,
                data: _data,
                intersections: intersections,
              });
            }
          };

          reader.onerror = function () {
            alert("Error reading the file");
            throw new Error("FileReader error");
          };

          reader.readAsArrayBuffer(file);
        '
      />
      <button
        type="button"
        id="add-template"
        _="on click call #template-input.click()"
      >
        Add template
      </button>

      <!-- Add Folder button-->
      <label for="folder-input"></label>
      <input
        type="file"
        id="folder-input"
        webkitdirectory
        directory
        multiple
        @change.prevent="
          let _files = [...$event.target.files];
          let newFiles = _files.map(file => {
            let date = getDate(file.lastModified, false);
            return {
              data: file, 
              lastModified: date,
            };
          });
          files.data = [...files.data, ...newFiles];
         "
      />
      <button
        type="button"
        id="add-folder"
        _="on click call #folder-input.click()"
      >
        Add folder
      </button>

      <!-- UL for the excel files -->
      <ul id="excel-list">
        <template x-for="(file, index) in files.data" :key="index">
          <li>
            <label x-text="file.data.name"></label>
            <button
              type="button"
              @click.prevent="
                files.data.splice(index, 1);
              "
            >
              X
            </button>
          </li>
        </template>
      </ul>
      <label id="total-count">
        Total files <strong x-text="files.data.length"></strong>
      </label>
      <!-- UL for the excel files -->

      <!-- Search -->
      <button
        type="button"
        id="add-search"
        @click.prevent='
          config.search.conditions.push({data: "", title: "", intersections: []});
          console.log(config.search)
        '
      >
        +
      </button>
      <div id="search" style="display: flex; flex-direction: column">
        <template
          x-for="(condition, index) in config.search.conditions"
          :key="index"
        >
          <div style="display: flex" x-init="console.log(condition, index)">
            <input
              x-model="condition.data"
              type="text"
              placeholder="Data"
              class="intersectionDataInput"
            />
            <input
              x-model="condition.title"
              type="text"
              placeholder="Title"
              class="intersectionTitleInput"
            />

            <template
              x-for="(condition2, index2) in condition.intersections"
              :key="index2"
            >
              <div style="display: flex">
                <input
                  x-model="condition2.data"
                  type="text"
                  placeholder="Data"
                  class="intersectionDataInput"
                />
                <input
                  x-model="condition2.title"
                  type="text"
                  placeholder="Title"
                  class="intersectionTitleInput"
                />
              </div>
            </template>

            <button
              type="button"
              class="andButton"
              @click.prevent="
                condition.intersections.push({data: '', title: ''});
              "
            >
              And
            </button>
          </div>
        </template>
      </div>
      <!-- Search -->

      <input type="hidden" id="files" name="files" x-model="files" />
      <input type="hidden" id="config" name="config" x-model="config" />

      <!-- Submit button -->
      <button
        type="submit"
        id="submit-excel"
        @click="
          console.log(files)
          console.log(config.search)
        "
      >
        Search
      </button>
      <!-- Submit button -->
    </form>

    <div
      id="mark"
      style="display: none; justify-content: center; align-items: center"
    >
      <label style="margin-right: 2px">Processing</label>
      <div class="loader"></div>
    </div>
  </body>
</html>
